# PyCharm project files
.idea/
*.iml

# Ignore all generated plots by default
#plots/
#
## But allow the specific ones used in the README
#!plots/step_1_obs_3_histogram.png
#!plots/step_1_obs_3_density.png
#!plots/step_2_obs_5_histogram.png
#!plots/step_2_obs_5_density.png
#!plots/step_3_obs_2_histogram.png
#!plots/step_3_obs_2_density.png

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env

# Testing & coverage
.tox/
.pytest_cache/
.mypy_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db