# PyCharm project files
.idea/
*.iml

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env

# Testing & coverage
.tox/
.pytest_cache/
.mypy_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db